<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/bootstrap %>
</head><!--/head-->
<body>
  <!-- header begins -->
  <% include ../partials/header %>
      <!--/header-->

    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>About Us</h1>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->

    <section id="about-us" class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>What we are</h2>
                <p>Chaglano Construction Company is a full service construction firm, serving Mombasa and the Coastal region by delivering effective building solutions to clients through design build, general contracting and construction management methods. Headquartered in Tudor, Mombasa, we provide complete architectural engineering services as well as service teams which deliver specialized facility maintenance, steel and home modification services.

We utilize cutting-edge design and communication technology to deliver creative, sustainable and cost effective solutions from office to field. We view ourselves as a single-source solution provider serving a wide-ranging spectrum of clients such as pharmaceutical manufacturers and food processors, healthcare facilities, commercial and retail, office buildings, K-12 and higher education facilities, non-profits; and community places of worship.

Our staff of 85 experienced professionals ensures that every customer, new and returning, realizes their vision along with quality that lasts a lifetime. Ranging from large manufacturers to small business owners, doctors to educators and community non-profits, our goal is to meet the unique needs of our clients and surpass their expectations with innovation and integrity from start to completion.</p>
            </div><!--/.col-sm-6-->
            <div class="col-sm-6">
                <h2>Our Skills</h2>
                <div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                            <span>Design/Build</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                            <span>General Contractor</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                            <span>Preconstruction</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
                            <span>Program Management</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            <span>Construction Management</span>
                        </div>
                    </div>
                </div>
            </div><!--/.col-sm-6-->
        </div><!--/.row-->

        <div class="gap"></div>
        <h1 class="center">Meet the Team</h1>
        <p class="lead center">These are our able experienced efficient Staff.</p>
        <div class="gap"></div>

        <div id="meet-the-team" class="row">
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img class="img-responsive img-thumbnail img-circle" src="images/team-member1.jpg" alt="" ></p>
                    <h5>Dess k. korir<small class="designation muted">Director</small></h5>
                    <p>Phd. Civil Engineering.</p>
                    <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <div class="center">
                  <p><img class="img-responsive img-thumbnail img-circle" src="images/team-member1.jpg" alt="" ></p>
                  <h5>Dess k. korir<small class="designation muted">Director</small></h5>
                  <p>Phd. Civil Engineering.</p>
                  <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="center">
                  <p><img class="img-responsive img-thumbnail img-circle" src="images/team-member1.jpg" alt="" ></p>
                  <h5>Dess k. korir<small class="designation muted">Director</small></h5>
                  <p>Phd. Civil Engineering.</p>
                  <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="center">
                  <p><img class="img-responsive img-thumbnail img-circle" src="images/team-member1.jpg" alt="" ></p>
                  <h5>Dess k. korir<small class="designation muted">Director</small></h5>
                  <p>Phd. Civil Engineering.</p>
                  <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
              </div>
            </div>
        </div><!--/#meet-the-team-->
    </section><!--/#about-us-->

    <!--/#footer-->
    <% include ../partials/footer %>
    <!--/#footer-->

    <!-- footer script begins -->
        <% include ../partials/footer-script %>
</body>
</html>
